@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-size: 27px;
}
h2{
  font-size: 21px;
}
p{
  font-size: 18px;
}

.wrap{
  max-width: 1400px;
  margin: 0 auto;
}
.switchBlackThem{
  background-color: #232529;
  color: white;
}
.switchLightThem{
  background: #F2F8F7;
  color: black;
}
.main{

}